.container {
  display: flex;
  justify-content: space-between;
}

.home {
  margin-left: auto;
  margin-top: 25px;
}

.othernav {
  margin-top: 25px;
}

a.link,
a.visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

